body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
    color: #333;
}

.hero {
    background-image:url('https://sdmntprwestus3.oaiusercontent.com/files/00000000-7fa4-61fd-bdf5-cc5d8c1cbc2a/raw?se=2025-06-29T16%3A50%3A17Z&sp=r&sv=2024-08-04&sr=b&scid=2c0e0866-7b2e-5851-8505-38bd7456ecb9&skoid=732f244e-db13-47c3-bcc7-7ee02a9397bc&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-29T15%3A43%3A51Z&ske=2025-06-30T15%3A43%3A51Z&sks=b&skv=2024-08-04&sig=mUvA1yiaJi5BrFcv4ANHBz1Jzb7A/amxQZZ9gZrucbc%3D');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 5rem 2rem;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    background-color: #fddc9f;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
}
.encabezado{
    -webkit-text-stroke: 1px black; 
    color: #b69251; 
}